version: "3.6"
services:
    api:
        build:
            context: .
            target: test
        command: make test/medium
        depends_on:
            - db
    db:
        image: mysql:8.0
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
