version: 2
jobs:
    build:
        docker:
            - image: circleci/golang:1.10
        steps:
            - checkout
            - run: make build
    test:
        docker:
            - image: circleci/golang:1.10
        steps:
            - checkout
            - run: make test

# https://circleci.com/docs/2.0/workflows/
workflows:
    version: 2
    build_and_test:
        jobs:
            - build
            - test
